In [1]:
print("HOPE AI")

HOPE AI

In [2]:
name = input('Enter your institute name? : ')

Enter your institute name? :  Regional

In [3]:
name = input('Enter your name: ')
age = input('Enter your age: ')
school = input('Enter your school name: ')

Enter your name:  wwtw
Enter your age:  werwe
Enter your school name:  werwe

In [4]:
num1 = int(input("a= "))
num2 = int(input("b= "))
print("Floor Div =",num1 // num2)

a=  77
b=  778

Floor Div = 0

In [5]:
num1 = int(input("a= "))
num2 = int(input("b= "))
print("Modulo =",num1 % num2)

a=  55
b=  33

Modulo = 22

In [6]:
num1 = int(input("a= "))
num2 = int(input("b= "))
print("Power =",num1 ** num2)

a=  98
b=  7

Power = 86812553324672

In [7]:
name = input('Enter your name: ')
age = input('Enter your age: ')
school = input('Enter your school name: ')
degree = input('Enter your drgree: ')

Enter your name:  twtw
Enter your age:  11
Enter your school name:  sdgsdg
Enter your drgree:  de

In [8]:
range(20)
for temp in range(20):
 print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [10]:
List2 = [10, 20, 14 ,55 ,43 ,87 ,76 ,32,42,4242,22323,232423423]
print(List2)
print("Number of item in the List2: ")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76, 32, 42, 4242, 22323, 232423423]
Number of item in the List2:
12

In [11]:
list = ["-Your Name-", "-Your Age-", "-Your Profession-"]
for i in list:
 print(i)

-Your Name-
-Your Age-
-Your Profession-

In [32]:
class OddEven():
    
   def OddEven():
     
       num = int(input("Enter a number: "))
       
            if (num % 2) == 0:
                
              print("{0} is Even number".format(num))
                
           else:
               
              print("{0} is Odd number".format(num))

IndentationError: unindent does not match any outer indentation level (<string>, line 11)

In [36]:
class triangle():
  def triangle():
        Height=int(input("Height:"))
        breadth=int(input("Breadth:"))
        print("Area formula: (Height*Breadth)/2")
        print("Area of Triangle: ",(Height*breadth)/2)
        Height1=int(input("Height1:"))
        Height2=int(input("Height2:"))
        breadth=int(input("Breadth:"))
        print("Perimeter formula: Height1+Height2+Breadth")
        print("Perimeter of Triangle: ",Height1+Height2+breadth)

In [37]:
triangle.triangle()

Height: 2342
Breadth: 423

Area formula: (Height*Breadth)/2
Area of Triangle:  495333.0

Height1: 342
Height2: 232
Breadth: 44

Perimeter formula: Height1+Height2+Breadth
Perimeter of Triangle:  618